.bio tr th {
	padding-left:10px;
	padding-right:10px;
	font-family:News Cycle;
}

.bio tr td {
	padding-left:10px;
	padding-right:10px;
	font-family:News Cycle;
}

.bio {
	float:right;
	width:400px;
	margin-bottom:20px;
}

.headers{
	width: 90px;

}